In [2]:
#!pip install pyspark py4j

from google.colab import drive
drive.mount('/content/drive')

# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Demographics").getOrCreate()

Mounted at /content/drive

In [3]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Demographics").getOrCreate()

In [4]:
#Some userful commands for pyspark dataframe operations
# show rows: df.show(5)
# df.printSchema()
# get column names: df.columns
# descriptive statistics: df.describe().show()
# select columns: df.select("column1", "column2").show()
# filter data: df.filter(df["column_name"] > 50).show()
# group by aggregation: df.groupBy("column_name").agg({"other_column": "avg"}).show()
# join dataframes: df1.join(df2, df1["id"] == df2["id"], "inner").show()
# write dataframe to csv: df.write.csv("output_path.csv", header=True
# create new column based on old column: df = df.withColumn("new", df["old"] * 1000)
# drop columns: df = df.drop("column1", "column2")
# using sql query:
 #df.createOrReplaceTempView("query_table")
 #spark.sql("SELECT column1, column2 FROM my_table WHERE column3 > 50").show()

In [6]:
df = spark.read.csv("/content/drive/MyDrive/GB760/Week11/demographics.csv", header=True)

# Show DataFrame
df.show()

+---+-----------------+---+--------+---------+--------+--------------------+---------------+------+--------------------+
| id|             name|age|height_m|weight_kg|children|          occupation|academic_degree|salary|            location|
+---+-----------------+---+--------+---------+--------+--------------------+---------------+------+--------------------+
|  1|    Glad Gavrieli| 38|    1.52|       74|       0|Computer Systems ...|       Bachelor|    78|           Louisiana|
|  2|  Henrieta Fittes| 34|    1.72|       39|       4|             Teacher|         Master|    44|            Illinois|
|  3|   Peyton Dulanty| 24|    1.80|       47|       5|Senior Quality En...|            PhD|    44|      North Carolina|
|  4|     Denna Morgen| 48|    1.81|       71|       5|   Account Executive|         Master|    81|          California|
|  5|    Camella Izaks| 34|    1.65|       60|       1|   Director of Sales|            PhD|    76|                Ohio|
|  6|     Shara Esposi| 49|    1.50|       52|       2|     Sales Associate|         Master|    68|            Virginia|
|  7|Saunderson Gudgen| 64|    1.93|       47|       0|Sales Representative|         Master|    85|            New York|
|  8|Aldrich Rosendorf| 42|    1.77|       66|       0|        Developer II|            PhD|    84|District of Columbia|
|  9| Edlin Washington| 50|    1.74|       52|       4|     Design Engineer|         Master|    88|              Oregon|
| 10| Anders Penwright| 55|    1.98|       90|       2|     Project Manager|       Bachelor|   116|             Georgia|
| 11|   Ruthie Cubbini| 67|    1.52|       55|       4|     Data Coordiator|            PhD|    51|District of Columbia|
| 12|  Juliet Harbidge| 66|    1.61|       49|       2|             Actuary|            PhD|    66|         Mississippi|
| 13|  Jeannine Kelner| 30|    1.80|       81|       1|       Programmer II|       Bachelor|    90|              Hawaii|
| 14|  Roi Gristhwaite| 66|    1.86|       90|       1|    Product Engineer|       Bachelor|    40|           Tennessee|
| 15|      Brant Stark| 58|    1.94|       53|       4|Sales Representative|       Bachelor|    96|      North Carolina|
| 16|   Donny Rankling| 26|    1.51|       39|       1|Physical Therapy ...|       Bachelor|   116|            Virginia|
| 17|     Dov Gavaghan| 27|    1.58|       68|       5|Computer Systems ...|       Bachelor|    74|                Utah|
| 18|    Rosanne Wreak| 37|    1.76|       81|       2|Payment Adjustmen...|         Master|   103|             Florida|
| 19|    Belva Spraggs| 50|    1.65|       80|       2|             Teacher|       Bachelor|    46|             Georgia|
| 20|      Welch Lease| 21|    1.57|       79|       4|Mechanical System...|         Master|   114|       Massachusetts|
+---+-----------------+---+--------+---------+--------+--------------------+---------------+------+--------------------+
only showing top 20 rows

In [9]:
df.createOrReplaceTempView("query_table")
spark.sql("SELECT name, occupation FROM query_table WHERE age <= 40 AND children > 2").show(15)

+----------------+--------------------+
|            name|          occupation|
+----------------+--------------------+
| Henrieta Fittes|             Teacher|
|  Peyton Dulanty|Senior Quality En...|
|    Dov Gavaghan|Computer Systems ...|
|     Welch Lease|Mechanical System...|
|  Kaye Van Halle|     Media Manager I|
|   Sacha Jarritt|           Professor|
|   Hayes Imesson| Staff Accountant IV|
|     Kerry Natte|     Data Coordiator|
|   Zach Surfleet|Senior Quality En...|
| Phillip Geockle| Clinical Specialist|
|   Baron Kemster|Senior Cost Accou...|
|Roseanna Crellim|        Accountant I|
| Ingram McGeachy|     Sales Associate|
|    Vinny Rikard|       Social Worker|
|   Damita Grotty|Help Desk Technician|
+----------------+--------------------+
only showing top 15 rows

In [ ]:
# Print the column names

['id',
 'name',
 'age',
 'height_m',
 'weight_kg',
 'children',
 'occupation',
 'academic_degree',
 'salary',
 'location']

In [ ]:
# Print out the first 10 rows

+---+-----------------+---+--------+---------+--------+--------------------+---------------+------+--------------------+
| id|             name|age|height_m|weight_kg|children|          occupation|academic_degree|salary|            location|
+---+-----------------+---+--------+---------+--------+--------------------+---------------+------+--------------------+
|  1|    Glad Gavrieli| 38|    1.52|       74|       0|Computer Systems ...|       Bachelor|    78|           Louisiana|
|  2|  Henrieta Fittes| 34|    1.72|       39|       4|             Teacher|         Master|    44|            Illinois|
|  3|   Peyton Dulanty| 24|    1.80|       47|       5|Senior Quality En...|            PhD|    44|      North Carolina|
|  4|     Denna Morgen| 48|    1.81|       71|       5|   Account Executive|         Master|    81|          California|
|  5|    Camella Izaks| 34|    1.65|       60|       1|   Director of Sales|            PhD|    76|                Ohio|
|  6|     Shara Esposi| 49|    1.50|       52|       2|     Sales Associate|         Master|    68|            Virginia|
|  7|Saunderson Gudgen| 64|    1.93|       47|       0|Sales Representative|         Master|    85|            New York|
|  8|Aldrich Rosendorf| 42|    1.77|       66|       0|        Developer II|            PhD|    84|District of Columbia|
|  9| Edlin Washington| 50|    1.74|       52|       4|     Design Engineer|         Master|    88|              Oregon|
| 10| Anders Penwright| 55|    1.98|       90|       2|     Project Manager|       Bachelor|   116|             Georgia|
+---+-----------------+---+--------+---------+--------+--------------------+---------------+------+--------------------+
only showing top 10 rows

In [ ]:
# Select the age, height_meter, and weight_kg columns and use describe to show the summary statistics

+-------+------------------+-------------------+------------------+
|summary|               age|           height_m|         weight_kg|
+-------+------------------+-------------------+------------------+
|  count|              1000|               1000|              1000|
|   mean|            42.961|  1.750380000000002|            64.308|
| stddev|14.166869067623207|0.14157152997018183|15.840077147667067|
|    min|                18|               1.50|                38|
|    max|                67|               2.00|                90|
+-------+------------------+-------------------+------------------+

In [ ]:
# Print the schema to see the types

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- height_m: string (nullable = true)
 |-- weight_kg: string (nullable = true)
 |-- children: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- academic_degree: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- location: string (nullable = true)

In [ ]:
# Rename the Salary column to `Salary (1k)` and show only this new column
df = df.withColumnRenamed('Salary', 'Salary (1k)')
df.select("Salary (1k)").show()

+-----------+
|Salary (1k)|
+-----------+
|         78|
|         44|
|         44|
|         81|
|         76|
|         68|
|         85|
|         84|
|         88|
|        116|
|         51|
|         66|
|         90|
|         40|
|         96|
|        116|
|         74|
|        103|
|         46|
|        114|
+-----------+
only showing top 20 rows

In [ ]:
# Create a new column called `Salary` where the values are the `Salary (1k)` * 1000
# Show the columns `Salary` and `Salary (1k)`
df = df.withColumn("Salary", df["Salary (1k)"] * 1000)
df.select(["Salary", "Salary (1k)"]).show()

+--------+-----------+
|  Salary|Salary (1k)|
+--------+-----------+
| 78000.0|         78|
| 44000.0|         44|
| 44000.0|         44|
| 81000.0|         81|
| 76000.0|         76|
| 68000.0|         68|
| 85000.0|         85|
| 84000.0|         84|
| 88000.0|         88|
|116000.0|        116|
| 51000.0|         51|
| 66000.0|         66|
| 90000.0|         90|
| 40000.0|         40|
| 96000.0|         96|
|116000.0|        116|
| 74000.0|         74|
|103000.0|        103|
| 46000.0|         46|
|114000.0|        114|
+--------+-----------+
only showing top 20 rows